div.unstyledTable {
  width: 80%;
  text-align: center;
}
.divTable.unstyledTable .divTableCell,
.divTable.unstyledTable .divTableHead {
  padding: 3px 3px;
}
/* DivTable.com */
.divTable {
  display: table;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  display: table-cell;
}
.divTableHeading {
  display: table-header-group;
}
.divTableFoot {
  display: table-footer-group;
}
.divTableBody {
  display: table-row-group;
}
